@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --secondary-color: #F0F4F4;
  --primary-color-4: #04080F;
  --primary-color-53: #507DBC;
  --primary-color-77: #A1C6EA;
  --primary-color-83: #BBD1EA;
}

.viewHeight {
  height: 100vh;  
  max-height: -webkit-fill-available;
}

.SVGB2W {
  @apply dark:bg-secondary-color;
}

.SVGW2B {
  @apply dark:bg-primary-color-4;
}

.SVGBlue2W {
  @apply dark:bg-primary-color-77;
}

.SVGBlue2DarkBlue {
  @apply dark:bg-primary-color-53;
}

.activeLink {
  position: relative;
  font-weight: 600;
}

.activeLink::before {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
  height: 1px;
  margin-top: 3px;
  background-color: var(--secondary-color);

  @apply dark:bg-primary-color-4
}

.linksm {
  position: relative;
  left: 2rem;
}

.linksm::before {
  content: '';
  position: absolute;
  bottom: 50%;
  left: -3rem;
  width: 3rem;
  transform: translateY(-50%);
  height: 1px;
  margin-top: 3px;
  background-color: var(--primary-color-83);

  @apply dark:bg-primary-color-4
}

.activeLinksm {
  @apply font-semibold bg-primary-color-53 
}



/*styling the seek bar of the music in the player*/
input[type=range] {
  height: 25px;
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  animate: 0.2s;
  background: var(--primary-color-83);
  border-radius: 1px;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px var(--primary-color-4);
  border: 1px solid var(--primary-color-4);
  height: 25px;
  width: 15px;
  border-radius: 1px;
  background: var(--secondary-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px;
  @apply dark:border-secondary-color
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  animate: 0.3s;
  background: var(--primary-color-83);
  border-radius: 1px;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid var(--primary-color-4);
  height: 25px;
  width: 13px;
  border-radius: 1px;
  background: var(--secondary-color);
  cursor: pointer;
  @apply dark:border-secondary-color
}
input[type=range]::-ms-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  animate: 0.2s;
}
input[type=range]::-ms-thumb {
  height: 25px;
  width: 15px;
  border-radius: 1px;
  background: var(--secondary-color);
  cursor: pointer;
  @apply dark:border-secondary-color
}
input[type='range']::-webkit-progress-value {
  background-color: var(--primary-color-53);
}
iinput[type="range"]::-moz-range-progress {
  background-color: var(--primary-color-53);
}
input[type="range"]::-ms-range-progress {
  background-color: var(--primary-color-53);
}